.home {
    background-color: #FEE9E1;
    min-height: 100vh;
}

.inputbox {
    width: 100%;
    padding-left: 100px;
}

.heading {
    font-size: 20px;
    padding: 70px 0px 10px 100px;
}

#err {
    color: rgb(255, 30, 0);
    font-size: 20px;
    display: none;
}

.list {
    display: inline-block;
    width: 15%;
    margin: 20px 50px;
    text-align: center;
}

.classNa {
    font-size: 20px;
}

.linking {
    color: black;
}

.upcoming {
    padding: 70px 20px 10px 0px;
    min-height: 500px;
    text-align: center;
}

.rbc-btn-group{
    display: none;
}

.upcal{
    background-color: white;
}

.todaysEvents{
    font-size: 20px;
    padding-bottom: 10px;
}